<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
</head>
<body id="index-page">
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/saved-decks"><button>Saved Decks</button></a>
    </nav>

    <main>
        <h1>Clash Royale Battle Decks</h1>

        <div id="home-buttons">
            <button onclick="generateDeck()">Generate Deck</button>
            <button onclick="showSaveInput()">Save Deck</button>
        </div>

        <div class="deck-container"></div>
        <!-- referred to freecodecamp HTML button onclick -->
    </main>
</body>
<script>
    const deckContainer = document.querySelector('.deck-container')
    console.log("deckContainer:", deckContainer)
    // State
    let activeDeck = null;

    
    async function generateDeck() {  
        deckContainer.innerHTML = "";  
        const response = await fetch("/cards/8")
        const data = await response.json();
        activeDeck = data;
        console.log(data)

        for (i = 0; i < data.length; i++) {
            const div = document.createElement("div")
            const card = data[i]

            div.classList.add("card")
            div.innerHTML = `
                <img src = ${card.icon}>
                <p>${card.name}</p>
            `
            deckContainer.append(div)
        }
    }

    function showSaveInput() {
        const nameInput = document.createElement("input");
        nameInput.placeholder = "Enter deck name";

        const saveBtn = document.createElement("button");
        saveBtn.style.backgroundColor = "green";
        saveBtn.style.color = "white";
        saveBtn.innerText = "Confirm Save";
        saveBtn.onclick = () => confirmSave(nameInput.value);

        const saveContainer = document.createElement("div");
        saveContainer.append(nameInput, saveBtn);

        saveContainer.style.display = "flex";

        deckContainer.append(saveContainer)
    }

    // send POST request to post to connect to express route to send to mongodb
    async function confirmSave(name) {
        const deckToSave = {
            name: name,
            cards: activeDeck
        }

        fetch("/deck/save", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json" 
            },
            body: JSON.stringify(deckToSave)
        });
    }
    
</script>
</html>