<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="deck-container"></div>
    <!-- referred to freecodecamp HTML button onclick -->
    <button onclick="clickHandler()">Generate Deck</button>
</body>
<!-- enabling cores in fetch api - referred stackoverflow -->
<script>
    async function clickHandler() {
        const response = await fetch("/get-cards/8")
        const data = await response.json();
        console.log(data)
    }
</script>
</html>