html, body {
    height:100%;
} 

h1 {
    display: flex;
    justify-content: center;
    font-family: Supercell-Magic;
    color: gold;
    -webkit-text-stroke: 2px #0047AB;
}

body {
    background-color: blue;
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

button {
    text-align: center;
}
#deck-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

/* css selector > only applies to direct child */
.card > img {
    width: 100px;
}

/* .card > p {
    

} */

